@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;600&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 300;
  background: linear-gradient(to right, #66cccc 0%, #cccccc 100%);
  padding: 2em;
}

.page {
  background-color: #ffffff;
  border-radius: 0.5em;
  color: #2c698d;
  max-width: 30em;
  min-width: 15em;
  margin: 0 auto;
  padding: 1em;
}

.page p {
  margin-bottom: 1em;
}

.page h2 {
  margin-bottom: 0.5em;
}

.page a {
  color: #272643;
}
  

