body {
    font-family: 'Averia Serif Libre', cursive;
	font-family: 'Open Sans', sans-serif;
    font-size: medium;
    background-color: rgb(27, 165, 133);
    max-width: 40em;
	width: 90%;
	margin: 10em auto;
}

