body {
    font-family: 'Averia Serif Libre', cursive;
	font-family: 'Open Sans', sans-serif;
    background-color: rgb(179, 214, 64);
    max-width: 40em;
	width: 90%;
	margin: 1em auto;
}


.leffat {
font-family: 'Averia Serif Libre', cursive;
font-family: 'Open Sans', sans-serif;
font-size: 10%;
font-weight: 400;
background-color: rgb(179, 214, 64);
max-width: 40em;
width: 90%;
margin: 1em auto;
display: flex;
justify-content: center;
text-align: center;

}
